@model List<(string id,string Label)>

<div class="border-bottom mb-4 pb-4">
    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
    <form>


        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="price-all">
            <label class="custom-control-label" for="price-all">All Price</label>
            <span class="badge border font-weight-normal">1000</span>
        </div>


        @foreach(var (id,label) in Model)
        {
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" id="price-1">
                <label class="custom-control-label" for="price-1">@label</label>
                <span class="badge border font-weight-normal">@label</span>
            </div>

        }
             
        
      
    </form>
</div>